<?php
  // git commit server-side changes
  $whitelist = array({{ git_whitelist }});
  if (in_array($_SERVER['HTTP_X_FORWARDED_FOR'], $whitelist)) {
    require_once('Git.php');
    $repo = Git::open('{{ web_root }}');
    $repo->add('wp-admin');
    $repo->add('wp-includes');
    $repo->add('wp-content/plugins');
    $repo->add('wp-content/themes');
    $repo->commit('Commiting file modifications / additions');
    $repo->push('origin', 'master');
    echo $repo->status(true);
  }
?>
